/* Your code here */
.masthead {
    display: inline-grid;
    grid-template-columns: repeat(3,1fr);
    justify-self: end;

}

.masthead__menu-and-search{
    grid-column-start: auto;
    align-items: center;
    justify-content: left;
    padding-left: 20px;
}

.masthead_labels{
    grid-template-columns: inline-grid;
    justify-content: start;
}

 .hamburger_menu, .search_icon{
    font-size: 11px;
    padding: 9px 7px;
    background-color: white;
    border:none;
    display: inline-grid;
}

.masthead__top-right{
    display: inline-grid;
    justify-content: end;
    /* order: 1; */

}

.settings_icon{
    display: inline-grid;
}
.fa-search{
   color: black;
}
.hamburger_menu:hover, .search_icon:hover{
    background-color: #f7f7f5;

}
